<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Abel">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Pacifico">
<link rel="stylesheet" href="hover.css" media="all">
<link rel="stylesheet" href="ci_dashboard12.css" type="text/css"/>
<script type="text/javascript" src="jquery-latest.min.js"></script>
<script>
</script>

<body>
	<div class="col-md-10">
		<h1 class="heading">Deployment Scheduler</h1>
	</div>
	<div class="col-md-2">
		<form name="input" action="home_week_view" method="get">
			<div class="button_week_month">
				<button type="submit" class="btn btn-primary btn-lg">Week View</button>
			</div>
		</form>
		<form name="input" action="home_month_view" method="get">
			<div class="button_week_month">
				<button type="submit" class="btn btn-primary btn-lg select_btn">Month View</button>
			</div>
		</form>
	</div>

<br><br><br><br>


<div class="container-fluid">
	<div class="set_height col-md-10">
		<% @weekday_array = []
		@weekday_array.push("Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday")%>

		<div class="calendar_header_line">
			<div class="calendar_header">
				<div class="container-fluid">
					<div class="col-xs-1 col-sm-1 col-md-1">
						<form name="input" action="home_month_view" method="get">
							<input type="hidden" name="current_month_year" value="<%= @current_month_year %>">
							<input type="hidden" name="arrow_value" value="minus">
							<div class="left_arrow"><button type="submit" class="btn btn-primary btn-lg"><%=@previous_month%></button></div>
						</form>
					</div>

					<div class="text-center col-xs-9 col-sm-10 col-md-10">
						<div class="year_month_heading col-md-12"><%=@month_year%></div>
					</div>

					<div class="col-xs-1 col-sm-1 col-md-1">
						<form name="input" action="home_month_view" method="get">
							<input type="hidden" name="current_month_year" value="<%= @current_month_year %>">
							<input type="hidden" name="arrow_value" value="positive">
							<div class="right_arrow"><button type="submit" class="btn btn-primary btn-lg"><%=@subsequent_month%></button></div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="weekdays">
			<% @weekday_array.each do |day|	%>
				<div class="weekday_slot" align="center"><%=day%></div>
			<% end %>
		</div>

		<div class="calendar_border_home">
			<% @previous_month_days.each do |day_number| %>
				<div class="calendar_slot_grey hvr-reveal">
					<div class="calendar_text_outside" align="right"><%=day_number%></div>
				</div>
			<% end %>

			<% (1..@current_month_days).each do |int|
				if int.to_i == 5 || int.to_i == 15%>
					<div class="calendar_slot hvr-reveal">
						<div class="calendar_text" align="right"><%=int%></div>
						<div class="LCR3_calendar">Infrastructure changes</div>
					</div>
				<% elsif int.to_i == 14 %>
					<div class="calendar_slot hvr-reveal">
						<div class="calendar_text" align="right"><%=int%></div>
						<div class="LCR1_calendar"><strike>Security changes</strike></div>
						<div class="LCR4_calendar">Title of some changes</div>
						<div class="LCR4_calendar">Additional Features</div>
					</div>
				<% elsif int.to_i == 1 || int.to_i == 24 %>
				<div class="calendar_slot hvr-reveal">
					<div class="calendar_text" align="right"><%=int%></div>
					<div class="LCR1_calendar">UI changes</div>
				</div>
				<% elsif int.to_i == 17 %>
					<div class="calendar_slot_today hvr-reveal">
						<div class="calendar_text" align="right"><%=int%></div>
					</div>
				<% else %>
					<div class="calendar_slot hvr-reveal" onClick="document.forms['new_deployment_form'].submit();">
						<form name="new_deployment_form" action="new_deployment" method="get">
							<div class="calendar_text" align="right"><%=int%></div>
						</form>
					</div>
				<% end %>
			<% end %>

			<% @subsequent_month_days.each do |day_number| %>
				<div class="calendar_slot_grey hvr-reveal">
					<div class="calendar_text_outside" align="right"><%=day_number%></div>
				</div>
			<% end %>
		</div>
	</div>

	<div class="col-md-2">
		<div class="list">
			<h3 class="LCR_heading"><font color="#1C1C1C">Open LCRs:</font></h3>
			<div class="fa_plus_symbol hvr-pulse">
				<i class="fa fa-plus">
					<a href="http://localhost:8088/new_lcr">
						<span class="link-spanner"></span>
					</a>
				</i>
			</div>
			<br><br><br>
			<div class="LCR1">32716 - Digital Register View
				<a href="http://hh-mvl-d03/MSM/RFP/Forms/Request.aspx?id=83600">
					<span class="link-spanner hvr-glow"></span>
				</a>
			</div><br>
			<div class="LCR2">32719 - Register Data Migration
				<a href="http://hh-mvl-d03/MSM/RFP/Forms/Request.aspx?id=83600">
					<span class="link-spanner hvr-glow"></span>
				</a>
			</div><br>
			<div class="LCR3">32724 - Land Charges
				<a href="http://hh-mvl-d03/MSM/RFP/Forms/Request.aspx?id=83600">
					<span class="link-spanner hvr-glow"></span>
				</a>
			</div><br>
			<div class="LCR4">32731 - Counter Fraud
				<a href="http://hh-mvl-d03/MSM/RFP/Forms/Request.aspx?id=83600">
					<span class="link-spanner hvr-glow"></span>
				</a>
			</div><br><br><br><br>
			<form name="input" action="new_deployment" method="get">
				<button type="submit" class="btn btn-primary btn-lg">New Deployment</button>
			</form>
		</div>
	</div>
</div>
<br><br><br><br><br><br>
</body>
</html>
