<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
<link rel="stylesheet" href="ci_dashboard11.css" type="text/css"/>
<script type="text/javascript" src="jquery-latest.min.js"></script>
<script>
</script>

<body bgcolor="#6C7A89">

<h1 class="alignme_2"><font color="#ececec">Continuous Integration Pipeline Dashboard</font></h1>
<form name="input" action="home_week_view" method="get">
	<div class="button_week_month">
		<button type="submit" class="btn">Week View</button>
	</div>	
</form>
<form name="input" action="home_month_view" method="get">
	<div class="button_week_month">
		<button type="submit" class="btn">Month View</button>
	</div>
</form>
<br><br><br><br> 	

<div class="list">
	<h3 class="alignme_2"><font color="#ececec">Open LCRs:</font></h3>
	<div class="fa_plus_symbol">
		<i class="fa fa-plus">
			<a href="http://localhost:8088/new_lcr">
				<span class="link-spanner"></span>
			</a>
		</i>
	</div>
	<br><br><br>
	<div class="LCR1">32716 - Digital Register View
		<a href="http://hh-mvl-d03/MSM/RFP/Forms/Request.aspx?id=83600">
			<span class="link-spanner"></span>
		</a>
	</div><br>
	<div class="LCR2">32719 - Register Data Migration
		<a href="http://hh-mvl-d03/MSM/RFP/Forms/Request.aspx?id=83600">
			<span class="link-spanner"></span>
		</a>
	</div><br>
	<div class="LCR3">32724 - Land Charges
		<a href="http://hh-mvl-d03/MSM/RFP/Forms/Request.aspx?id=83600">
			<span class="link-spanner"></span>
		</a>
	</div><br>
	<div class="LCR4">32731 - Counter Fraud
		<a href="http://hh-mvl-d03/MSM/RFP/Forms/Request.aspx?id=83600">
			<span class="link-spanner"></span>
		</a>
	</div><br><br><br><br>
	<form name="input" action="new_deployment" method="get">
		<div class="padme">
			<button type="submit" class="btn">New Deployment</button>
		</div>
	</form>
</div> 


<div class="deployment_calendar">
	<% @weekday_array = []
	@weekday_array.push("Monday, 30", "Tuesday, 31", "Wednesday, 1", "Thursday, 2", "Friday, 3", "Saturday, 4", "Sunday, 5")%>
	<div class="calendar_header">
		<div class="img_align"><</div>
		<div class="year_month_heading">
			<div align="center"><font color="#ececec">April 2015</font></div> 
		</div> 
		<div class="img_align">></div>
	</div>

	<div class="weekdays">
		<% @weekday_array.each do |day|	%>
			<div class="weekday_slot" align="center"><%=day%></div>
		<% end %>
	</div>
	<% @timeslot_array = []
	@timeslot_array.push("19:00", "20:00", "21:00", "22:00", "23:00", "00:00", "01:00", "02:00", "03:00", "04:00") %>
	<div class="calendar_border">
	<% @timeslot_array.each do |time_slot| %>
		<% (1..7).each do |weekday| 
			if weekday == 3 && time_slot == "20:00"%>
				<div class="week_calendar_slot">
					<div class="calendar_text" align="right"><%=time_slot%></div>
					<div class="LCR4_calendar_week"><div class="week_calendar_text">Title of some changes</div></div>
				</div>
			<% elsif weekday == 1 && time_slot == "19:00"%>
				<div class="week_calendar_slot">
					<div class="calendar_text" align="right"><%=time_slot%></div>
					<div class="LCR1_calendar_week">
					<div class="triangle"></div>
					<div class="week_calendar_text_fail"><strike>Security changes</strike></div>
					</div>
				</div>
			<% elsif weekday == 3 && time_slot == "21:00"%>
				<div class="week_calendar_slot">
					<div class="calendar_text" align="right"><%=time_slot%></div>
					<div class="LCR1_calendar_week">
					
					<div class="week_calendar_text_fail_2">Security changes</div>
					<img src="fail.png" class="image_format">
					</div>
					
				</div>	
			<% elsif weekday == 5 && time_slot == "02:00"%>
				<div class="week_calendar_slot">
					<div class="calendar_text" align="right"><%=time_slot%></div>
					<div class="LCR2_calendar_week"><div class="week_calendar_text">Changes to UI</div></div>
				</div>
			<% elsif weekday == 6 && time_slot == "22:00" || weekday == 6 && time_slot == "23:00" || weekday == 6 && time_slot == "00:00"%>
				<div class="week_calendar_slot">
					<div class="calendar_text" align="right"><%=time_slot%></div>
					<div class="LCR3_calendar_week"><div class="week_calendar_text">Infrastructure changes</div></div>
				</div>		
			<% elsif weekday == 5 %>
				<% if time_slot == "19:00" %>
					<div class="week_calendar_slot_bottom">
						<div class="calendar_text" align="right"><%=time_slot%></div>
					</div>
				<% elsif time_slot == "04:00" %>
					<div class="week_calendar_slot_top">
						<div class="calendar_text" align="right"><%=time_slot%></div>
					</div>
				<% else %>
					<div class="week_calendar_slot_today">
						<div class="calendar_text" align="right"><%=time_slot%></div>
					</div>
				<% end %>			
			<% elsif weekday == 1 || weekday == 2%>
				<div class="week_calendar_slot_grey">
					<div class="calendar_text" align="right"><%=time_slot%></div>
				</div>			
			<% else %>
				<div class="week_calendar_slot">
					<div class="calendar_text" align="right"><%=time_slot%></div>
				</div>
			<% end %>
		<% end %>
	<% end %>
	</div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</body>

</html>






